{% extends "layout.html" %}

{% block body %}
<p>
	Tervetuloa Helsingin Yliopiston Geneerisen Opiskelijajärjestön keskustelufoorumille! Kirjautumalla sisään voit luoda uusia viestiketjuja ja vastata niihin, mutta voit lukea viestiketjuja kirjautumattakin!

	<hr>

	<h1>Viimeisimmät viestiketjut</h1>
	<a href="/thread/new/"><button>Luo viestiketju</button></a>
	
	<hr>

	{% for thread in threads %}
	<div>
		<h2><a href="{{ url_for('get_thread', thread_id = thread.id )}}">{{ thread.topic }}</a></h2>
		Kirjoittaja: {{ thread.sender.first_name }} {{ thread.sender.surname }}<br>
		Kategoriat: <!--{{ thread.categories }}--><br>
		Kirjoitettu: {{ thread.time }}<br>
	</div>
	{% endfor %}
</p>
{% endblock %}