{% extends "layout.html" %}

{% block body %}
<p>
	Tervetuloa Helsingin Yliopiston Geneerisen Opiskelijajärjestön keskustelufoorumille! Kirjautumalla sisään voit luoda uusia viestiketjuja ja vastata niihin, mutta voit lukea viestiketjuja kirjautumattakin!

	<hr>

	<div class="row">
		<div class="col-sm-6">
			<h1>Viimeisimmät viestiketjut</h1>
		</div>
		<div class="col-sm-6">
			<a style="float: right; margin-top: 10px" href="/thread/new/">
				<button type="button" class="btn btn-primary">Uusi viestiketju</button>
			</a>
		</div>
	</div>
	
	<hr>

	{% for thread in threads %}
	<div>
		<h2><a href="{{ url_for('get_thread', thread_id = thread.id )}}">{{ thread.topic }}</a></h2>
		Kirjoittaja: {{ thread.sender.first_name }} {{ thread.sender.surname }}<br>
		Kategoriat: <!--{{ thread.categories }}--><br>
		Kirjoitettu: {{ thread.posted }}<br>
	</div>
	{% endfor %}
</p>
{% endblock %}