{% extends "layout.html" %}

{% block body %}
<p>
	<div class="jumbotron">
		<h1 class="display-4">Tervetuloa!</h1>
		<p class="lead">
			Tervetuloa Helsingin yliopiston geneerisen opiskelijajärjestön, HYGOn, keskustelufoorumille! Täällä voit kritisoida meitä, kysyä kysymyksiä tai keskustella aivan yleisestikin. Voit myös luonnollisesti kommentoida muiden ajatuksia, kunhan muistat kunnioittaa kanssakeskustelijoitasi.
		</p>
	</div>

	<hr>

	<div class="row">
		<div class="col-sm-8">
			<h1 class="display-4">Viimeisimmät viestiketjut</h1>
		</div>
		<div class="col-sm-4">
			<a style="float: right; margin-top: 20px" href="/thread/new/">
				<button type="button" class="btn btn-primary">Uusi viestiketju</button>
			</a>
		</div>
	</div>
	
	<hr>

	{% for thread in threads %}
		<div class="container">
			<h2 class="display-4"><a href="{{ url_for('get_thread', thread_id = thread.id )}}">{{ thread.topic }}</a></h2>
			{% for category in thread.categories %}
				<span class="badge badge-secondary">{{ category.name }}</span> 
			{% endfor %}
			</p>
			Kirjoittaja: {{ thread.sender.first_name }} {{ thread.sender.surname }}<br>
			Kirjoitettu: {{ thread.posted }}<br>
			{% if thread.deletable %}
				</p>
				<a href="{{ url_for('delete_thread', thread_id = thread.id) }}">
					<button type="button" class="btn btn-danger btn-sm">Poista</button>
				</a>
			{% endif %}
		</div>
		<hr class="my-4">
	{% endfor %}
</p>
{% endblock %}