{% extends "layout.html" %}

{% block body %}
<p>
	<h1>Luo uusi viestiketju</h1>
	<form method="POST" action="{{ url_for('post_new_thread') }}">
		<table>
			<tr>
				<td>
					{{ form.topic.label }}
				</td>
				<td>
					{{ form.topic }}
				</td>
				<td>
					<ul>
						{% for error in form.topic.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					{{ form.content.label }}
				</td>
				<td>
					{{ form.content }}
				</td>
				<td>
					<ul>
						{% for error in form.content.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type="submit" value="Lähetä">
				</td>
			</tr>
		</table>
	</form>
</p>
{% endblock %}