{% extends "layout.html" %}

{% block body %}
<p>
	<h2 class="display-4">{{ thread.topic }}</h2>

	{% if thread.is_deletable() %}
		<p>
			<a style="margin-left: 15px" href="{{ url_for('delete_thread', thread_id = thread.id) }}">
				<button type="button" class="btn btn-sm btn-danger">Poista viestiketju</button>
			</a>
		</p>
	{% endif %}

	{% for post in thread.posts %}
		<div class="post card" id="post{{ post.id }}">
			<div class="card-body">
				<div class="row">	
					<div class="col-sm-11">
						<h5 class="card-title"><a href="{{ url_for('get_profile', user_id = post.sender_id) }}">{{ post.get_sender().first_name }} {{ post.get_sender().surname }}</a></h5>
						
						<h6 class="card-subtitle mb-2 text-muted">
						{% if post.date_created == post.date_modified %}
							<small>Julkaistu {{ post.get_created() }}</small>
						{% else %}
							<small>Muokattu {{ post.get_modified() }}</small>
						{% endif %}
						</h6>

						<p class="card-text">
							<span style="white-space: pre-wrap; font-size: 16px">{{ post.content }}</span>
						</p>
						{% if post.is_deletable() %}
							<a class="card-link" href="#" onclick="
								reply = document.getElementById('reply{{ post.id }}');
								reply.style.display = 'inline';
								reply.children[1].children[0].children[0].value = `{{ post.content|sanitize_for_js }}`
							">Muokkaa</a>
							<a class="card-link" href="{{ url_for('delete_post', post_id = post.id) }}">Poista</a>
							<form id="reply{{ post.id }}" style="display: none" method="POST" action="{{ url_for('edit_post', post_id = post.id) }}">
								<hr>
								<div class="form-group">
									<div class="input-group">
										{{ form.content(class_="form-control",rows="8",placeholder="Kirjoita viesti tähän") }}
									</div>
								</div>
								<ul>
									{% for error in form.content.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
								<input class="btn btn-primary btn-small" type="submit" value="Muokkaa vastausta">
							</form>
						{% endif %}
					</div>
					<div class="col-sm-1 voting-container">
						<div class="voting">
							<a class="vote btn btn-link btn-lg" href="#" role="button">&#x2C4;</a><br>
							<span class="vote-sum">0</span><br>
							<a class="vote btn btn-link btn-lg" href="#" role="button">&#x2C5;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</p>
	{% endfor %}
	
	<h2>Vastaa viestiketjuun</h2>
	{% if current_user.is_authenticated %}
		<form method="POST" action="{{ url_for('reply_thread', thread_id = thread.id) }}">
			<div class="form-group">
				<div class="input-group">
					{{ form.content(class_="form-control",rows="8",placeholder="Kirjoita viesti tähän") }}
				</div>
			</div>
			<ul>
			{% for error in form.content.errors %}
				<li>{{ error }}</li>
			{% endfor %}
			</ul>
			<input class="btn btn-primary btn-small" type="submit" value="Vastaa viestiketjuun">
		</form>
	{% else %}
		Sinun on kirjauduttava sisään vastataksesi viestiketjuun.
	{% endif %}
</p>
{% endblock %}