{% extends "layout.html" %}

{% block body %}
<p>
	<h2 class="display-4">{{ user.first_name }} {{ user.surname }}</h2>
	{% if current_user.admin %}
		{% if not user.admin %}
			<a class="btn btn-primary" href="{{ url_for('promote', user_id = user.id) }}" role="button">Ylennä ylläpitäjäksi</a>
		{% else %}
			<a class="btn btn-primary" href="{{ url_for('demote', user_id = user.id) }}" role="button">Poista ylläpitäjyys</a>
		{% endif %}
		</p>
	{% endif %}
	<table>
		<tr>
			<td>
				<strong>Tunnus luotu:</strong>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
			<td>
				{{ user.get_created() }}
			</td>
		</tr>
		<tr>
			<td>
				<strong>Viestiketjuja luotu:</strong>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
			<td>
				{{ user.threads|length }}
			</td>
		</tr>
		<tr>
			<td>
				<strong>Viestejä lähetetty:</strong> 
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
			<td>
				{{ user.posts|length }}
			</td>
		</tr>
	</table>

	</p>

	<h2>Viimeisimmät viestiketjut</h2>

	<table class="table">
		<tr>
			<td>
				<strong>Aihe</strong>
			</td>
			<td>
				<strong>Ajankohta</strong>
			</td>
		</tr>
		{% for thread in user.get_latest_threads() %}
			<tr>
				<td>
					<a href="{{ url_for('get_thread', thread_id = thread.id ) }}">{{ thread.topic|truncate(32) }}</a>
				</td>
				<td>
					{{ thread.get_created() }}
				</td>
			</tr>
		{% endfor %}
	</table>

	</p>

	<h2>Viimeisimmät viestit</h2>

	<table class="table">
		<tr>
			<td>
				<strong>Viesti</strong>
			</td>
			<td>
				<strong>Aihe</strong>
			</td>
			<td>
				<strong>Ajankohta</strong>
			</td>
		</tr>
		{% for post in user.get_latest_posts() %}
			<tr>
				<td>
					{{ post.content|truncate(50) }}
				</td>
				<td>
					<a href="{{ url_for('get_thread', thread_id = post.thread_id) }}">{{ post.get_topic()|truncate(32) }}</a>
				</td>
				<td>
					{{ post.get_created() }}
				</td>
			</tr>
		{% endfor %}
	</table>
</p>
{% endblock %}