{% extends "layout.html" %}

{% block body %}
<p>
	<h2 class="display-4">Kirjaudu sisään</h2>
	<form method="POST" action="{{ url_for('login') }}">
		<div class="form-group">
			<label>{{ form.username.label }}</label>
			{{ form.username(class_="form-control", placeholder="Käyttäjänimi") }}
		</div>
		<div class="form-group">
			<label>{{ form.password.label }}</label>
			{{ form.password(class_="form-control", placeholder="Salasana") }}
		</div>
		<span style="color: #cc0000">{{ error }}</span>
		</p>
		<input class="btn btn-primary btn-small" type="submit" value="Kirjaudu">
	</form>
</p>
{% endblock %}